body {
    margin:0;
    padding:0;
    background-color:rgba(0,0,0,0.7);
    font-family:"Roboto", monospace, "Arial";
    color: white;
}

html{
    margin:0;
}

button {
    text-align: center;
    border:none;
    padding:10;
    width: 100px;
    height: 30px;
    font-family:"Roboto", monospace;
}

a {
    text-decoration: none;
    color:white;
    font:"Roboto", monospace;
}

#canvas {
    padding: 0;
    margin: auto;
    display: block;
    border:5px solid black;
    border-radius:10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#topLeftMenu {
    position:fixed;
    margin-top: 20px;
    margin-left: 20px;
}

#bottomLeftMenu {
    position:fixed;
    bottom:0;
    margin-bottom: 20px;
    margin-left: 20px;
}

#backgroundCanvas {
    position:fixed; 
    
}